<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./favicon.ico" rel="icon" type="image/x-icon">
    <title>{{ title }}</title>
  </head>
  <body>
    <body  class="flex flex-col min-h-screen pt-14 font-sans text-base leading-normal text-slate-600 overflow-x-hidden {{ body_class }}">

        {% include "./template-parts/header.html" %}

        <main class="flex flex-col flex-1 w-full max-w-[95ch] px-4 mx-auto mb-10">
            <h1 class="{{pagetitle}} my-6 md:my-8 lg:my-10 font-serif text-4xl">{{ title }}</h1>
            {% block content %}
            {% endblock %}
        </main>

        {% include "./template-parts/footer.html" %}

        <script type="module" src="/main.js"></script>
      </body>
  </body>
</html>