{% set body_class = 'home' %}
{% set title = 'Tanakh' %}
{% extends '_layout.njk' %}
{% import './template-parts/_sefer.njk' as sefer %}

{% block content %}
<main class="flex-1 w-screen max-w-[80ch] px-4 mx-auto mb-10">
    <h1 class="my-10 font-serif text-4xl">{{ title }}</h1>
    <div  x-data="tanakh()"
          x-init="loadSefer()">
        {{ sefer.sefer('Torah - Les 5 livres de Moïse', './torah.html') }}
        {{ sefer.sefer('Nevi\'im - Prophètes', './prophetes.html') }}
        {{ sefer.sefer('Ketouvim - Hagiographes', './hagiographes.html') }}
    </div>
</main>
{% endblock %}