{% set body_class = "home" %}
{% extends "_layout.njk" %}

{% block content %}
<main class="flex-1 w-screen max-w-[80ch] px-4 mx-auto mb-10">
    <h1 class="my-10 font-serif text-4xl">Tanakh</h1>

    <section class="mb-10 last:mb-0">
        <h2 class="pb-4 mb-4 border-b border-slate-200 text-2xl text-slate-400">Torah - Les 5 livres de Moïse</h2>
        {% include "./template-parts/torah.html" %}
    </section>

    <section class="mb-10 last:mb-0">
        <h2 class="pb-4 mb-4 border-b border-slate-200 text-2xl text-slate-400">Nevi'im - Prophètes</h2>
        {% include "./template-parts/prophetes.html" %}
    </section>

    <section class="mb-10 last:mb-0">
        <h2 class="pb-4 mb-4 border-b border-slate-200 text-2xl text-slate-400">Ketouvim - Hagiographes</h2>
        {% include "./template-parts/hagiographes.html" %}
    </section>

</main>
{% endblock %}
