<footer x-data
        class="py-10 border-t border-slate-100">
        <div class="flex flex-wrap items-center gap-6 w-full max-w-[95ch] px-4 mx-auto">
            <span class="flex gap-2 text-sm mr-auto">
                <span id="dtFr"></span>
                <span>|</span>
                <span id="dtHb"></span>
            </span>
            <button @click="window.scrollTo({top: 0, behavior: 'smooth'})"
                    class="py-2.5 px-4 text-sm border border-slate-200 rounded transition-colors hover:border-slate-400">Retour en haut de page</button>
        </div>
</footer>