{% set navlist = 'flex flex-col md:flex-row gap-6' %}
{% set navlink = 'text-white transition-colors hover:text-slate-300' %}
{% set navdescription = 'hidden' %}

<header x-data="{
            baseUrl: window.location.origin
        }"
        class="fixed top-0 inset-x-0 z-10 h-14 py-2.5 bg-slate-700">
    <div class="flex flex-wrap items-center gap-4 w-full max-w-[95ch] px-4 mx-auto">
        <a :href="baseUrl"
           title="Accueil"
           class="mr-auto text-2xl text-white">Judaïsme</a>
        <div x-data="{ open: false }"
             class="lg:hidden mobile-nav">
            <button @click="open = ! open"
                    class="p-1 border border-slate-500 rouned">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon"
                     class="w-6 h-6 text-slate-300"
                     :class="open ? 'hidden' : 'block'">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon"
                     class="w-6 h-6 text-slate-300"
                     :class="open ? 'block' : 'hidden'">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
            <div x-show="open"
                 class="absolute top-14 inset-x-0 z-10 py-4 bg-slate-700 border-t border-slate-500">
                <div class="flex md:justify-end w-full max-w-[95ch] px-4 mx-auto">
                    {% include './navigation.html' %}
                </div>
            </div>
        </div>
        <div class="hidden lg:block">
            {% include './navigation.html' %}
        </div>
    </div>
</header>