<header
    class="fixed top-0 w-screen flex justify-between items-center h-14 py-2.5 px-4 bg-slate-700">
        <h1 class="text-2xl text-white">Tanakh</h1>
        <span class="flex gap-2 text-sm text-white">
            <span id="dtFr"></span>
            <span>|</span>
            <span id="dtHb"></span>
        </span>
</header>