{% macro link(number) %}
<button @click="displayTehilimCycle({{ number }}); activeBook = {{ number }}"
        :class="activeBook === {{ number }} ? 'border-slate-600' : 'border-slate-200'"
        class="px-2.5 py-1.5 text-sm border border-slate-200 rounded transition-colors hover:border-slate-400">Jour {{ number }}</button>
{% endmacro %}