{% macro book(title, number) %}
<div x-data="{ open: false}"
     class="mb-6">
    <h3 @click="open = ! open"
        class="flex justify-between items-center pb-4 mb-4 border-b border-slate-200 text-xl text-slate-400 cursor-pointer">
        <span>{{ title }}</span>
        <svg xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             fill="currentColor"
             class="transform"
             :class="open ? 'scale-y-[-1]' : 'scale-y-100'"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
    </h3>
    <div x-show="open">
        <ol class="flex flex-wrap gap-2">
            <template x-for="(chapters, index) in text" :key="index">
                <li class="w-10 h-10"
                    x-show="{{ number }}.includes(index)"
                    :id="index">
                    <button
                        @click="toggleChapter(index)"
                        class="grid place-content-center w-10 h-10 text-sm transition-colors hover:bg-slate-100"
                        :class="chapterActive(index) ? 'bg-slate-200' : 'bg-slate-50 text-inherit'"
                        x-text="index + 1"></button>
                </li>
            </template>
        </ol>
    </div>
</div>
{% endmacro %}