<div x-data="{ currentTab: 1 }">
    <div class="flex items-center gap-x-4 mb-6">
        <button @click="currentTab = 1; closeTehilim()"
                class="transition-colors hover:text-slate-900"
                :class="currentTab === 1 ? 'text-slate-900' : 'text-slate-400'">Chapitres</button>
        <span class="w-2 h-2 bg-slate-500 rounded-full"></span>
        <button @click="currentTab = 2; closeTehilim()"
                class="transition-colors hover:text-slate-900"
                :class="currentTab === 2 ? 'text-slate-900' : 'text-slate-400'">Cycle 30 jours</button>
        <span class="w-2 h-2 bg-slate-500 rounded-full"></span>
        <button @click="currentTab = 3; closeTehilim()"
                class="transition-colors hover:text-slate-900"
                :class="currentTab === 3 ? 'text-slate-900' : 'text-slate-400'">Livres</button>
        <span class="w-2 h-2 bg-slate-500 rounded-full"></span>
        <button @click="currentTab = 4; closeTehilim(); openTikounHaklali()"
                class="transition-colors hover:text-slate-900"
                :class="currentTab === 4 ? 'text-slate-900' : 'text-slate-400'">Tikoun Haklali</button>
    </div>
    <div>
        <div x-show="currentTab === 1">
            <ol class="flex flex-wrap gap-2">
                <template x-for="(chapters, index) in text" :key="index">
                    <li class="w-10 h-10">
                        <button
                            @click="toggleChapter(index)"
                            class="grid place-content-center w-10 h-10 text-sm transition-colors hover:bg-slate-100"
                            :class="chapterActive(index) ? 'bg-slate-200' : 'bg-slate-50 text-inherit'"
                            x-text="index + 1"></button>
                    </li>
                </template>
            </ol>
        </div>
        <div x-show="currentTab === 2">
            {% include './tehilim-cycle.html' %}
        </div>
        <div x-show="currentTab === 3">
            {% include './tehilim-books.html' %}
        </div>
        <div x-show="currentTab === 4">
            {% include './tikoun-haklali.html' %}
        </div>
    </div>

    <template x-for="(chapters, index) in text" :key="index">
        <template x-if="chapterActive(index)">
            <div class="mt-6">
                <h3 class="my-6 font-serif text-xl">Tehilim  <span x-text="index + 1"></span></h3>

                <div class="verses-container">
                    <template x-for="(chapter, index) in chapters" :key="index">
                        <p x-text="chapter"
                        class="verse mb-2"></p>
                    </template>
                </div>

                <div x-show="currentTab === 1">
                    {% include './pagination.html' %}
                </div>
            </div>
        </template>
    </template>
</div>
